


.container-character{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1{
  text-align: center;
}
button{
  border-radius: 70px;
}
.container-character{
  border: 4px solid #FFD54F;
  background: #A5D6A7;
  border-radius: 70px;

}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A5D6A7;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  
  border: 3px solid #FFD54F;

  mat-icon {
    color: black;
}
}