 /* Stile per il footer */
 footer {
    background-color: #39375B;
    padding: 20px;
    font-size: 20px;
  }
  footer a{
    text-decoration: none;
    color: #FFD54F;
  }
  footer a:hover{
    color: #439A86;
  }
  .footer-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  p{
    color: #FFD54F;
    margin: 1rem;
  }