<!-- Versione Desktop -->

<mat-toolbar id="navbar" class="navbar-desktop" >
  <div class="navbar-container">
      <span class="navbar-title">Rick & Morty</span>
      <div class="navbar-links" >
          <a mat-button  href="/home#sezione1">Sezione 1</a>
          <a mat-button  href="/home#sezione2">Sezione 2</a>
          <a mat-button routerLink="/listing" routerLinkActive="active">Listing</a>
          <a mat-button routerLink="/favorites" routerLinkActive="active">Preferiti</a> 
          <a mat-button (click)="logout()">Logout</a> 
      </div>
      <span class="navbar-greeting">Ciao, <br>utente loggato</span>
  </div>
</mat-toolbar>

<!-- Versione Mobile -->
<mat-toolbar class="navbar-mobile" >
  <mat-toolbar-row>
    <span class="navbar-title">Rick & Morty</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu"  >
      <a mat-menu-item href="/home#sezione1">Sezione 1</a>
      <a mat-menu-item href="/home#sezione2">Sezione 2</a>
      <a mat-menu-item routerLink="/listing" routerLinkActive="active">Pagina di listing</a>
      <a mat-menu-item routerLink="/favorites" routerLinkActive="active">Preferiti</a>
      <a mat-menu-item (click)="logout()">Logout</a>
    </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>