.navbar-mobile {
    background: #222E50;
    color: #E9D985;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-mobile .mat-toolbar-row {
    width: 100%;
  }
  
  .navbar-mobile .navbar-title {
    flex-grow: 1;
    margin-left: 16px;
  }
  
  .navbar-desktop {
      display: none ;
    }
    mat-toolbar-row{
      justify-content: space-between;
    }
  
    a{
      text-decoration: none;
    }
   
  
  @media screen and (min-width: 768px) {
  
    .navbar-mobile {
    display: none;
  }
    .navbar-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
       justify-content: space-between;
    }
    .navbar-desktop {
      background: #222E50;
      color: #E9D985;
       display: flex;
      align-items: center;
   }
};