
  <!-- Hero section -->
  <section id="hero" class="hero">
    <div class="container-hero">
      <img class="hero-img" src="https://occ-0-2724-784.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABW5dii3BdY3CMoQ8O6RTPlMmyZyE4B0yFqymEzB6-patrmOfiHyjg62NQLBoy-aEGjQdC1RvlQDncbj_ixmVvaRS6Ap-V_8rHj_m6M6gowRp.png?r=cf9" alt="">
      <p class="hero-description">Il brillante scienziato ubriacone Rick va alla scoperta di altri mondi e dimensioni insieme a Morty, il suo inquieto nipote adolescente.</p>
  </div>
  </section>
  
 <!-- Sezione 1 -->
<section id="sezione1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://i.pinimg.com/originals/85/7f/99/857f99e0be03afb895b5cb7bf692a5de.jpg" alt="Immagine a sinistra" class="img">

        </div>
        <div class="col-md-6">     
          <p class="section-description">Rick Sanchez è uno scienziato che si è trasferito dalla famiglia di sua figlia Beth, una cardiochirurga per cavalli. Passa la maggior parte del suo tempo inventando vari gadget high-tech e portando con sé il giovane nipote Morty.</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Sezione 2 -->
  <section id="sezione2">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <img class="img" src="https://i.pinimg.com/originals/47/3a/7c/473a7c754477032fd87bc8884a0cb079.jpg" alt="Immagine a destra">

        </div>
        <div class="col-md-6">
          <p class="section-description">Morty Smith è uno dei protagonisti della serie ed è il nipote di Rick Sanchez, un genio scientifico eccentrico e alcolizzato. Morty è un adolescente insicuro e facilmente impressionabile che viene coinvolto nelle avventure interdimensionali di Rick.</p>
        </div>
      </div>
    </div>
  </section>

  <a href="/home#navbar">
    <mat-icon style="color:white" >keyboard_arrow_up</mat-icon>
  </a>

