/* Stile hero */

.hero {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://images3.alphacoders.com/130/1303834.jpg);
  background-size: cover;
  background-position: center;
}

.hero-img{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.hero-description{
  font-size: 18px;
  line-height: 1.5;
  font-weight:500;
  font-family: cursive;
  text-align: center;
  color: rgb(255, 255, 255); 
  padding: 40px; 
  z-index: 2;
 
 
}
.container-hero {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  

}


/* Stile sections */
.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.container{
  background-color: #A5D6A7;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px;
  border : 4px solid #FFD54F;
  border-radius: 70px;
  

}
.section-description{
  font-size: 20px;
  text-align: justify;
  line-height: 1.8;
  font-family: cursive;
}

#sezione2 {
  margin-top: 80px;
  margin-bottom: 60px;
}
#sezione1 {
margin-top: 30px;
}


